.hero {
  &.mobile {
    padding: 2rem 1rem;
    margin-top: 1rem;
    .hero-image {
      width: 100%;
      height: auto;
    }

    .hero-title {
      text-align: center;
      font-size: 1.9rem;
      line-height: 2.5rem;
    }

    .hero-text {
      text-align: center;
      opacity: .6;
    }

    .hero-button {
      border-radius: 40px;
      border: 1px solid #6c63ff;
      background-color: #6c63ff;
      padding: 1rem 2.5rem;
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
      display: block;
      margin: 0 auto;
    }

    @media (min-width: 992px) {
      display: none;
    }
  }

  &.desktop {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;

      margin-top: 7rem;
      margin-bottom: 22%;

      .col-left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hero-title {
          font-size: 4.6rem;
          line-height: 6rem;
          margin-bottom: 1rem;
        }

        .hero-text {
          font-size: 1.25rem;
          opacity: .6;
          margin-top: 0;
        }

        .hero-button {
          border-radius: 40px;
          border: 1px solid #6c63ff;
          background-color: #6c63ff;
          padding: 1rem 2.5rem;
          font-size: 1rem;
          color: #fff;
          cursor: pointer;
          align-self: start;
          margin-top: 0.6875rem;
        }
      }

      .col-right {
        display: flex;
        justify-content: center;

        .hero-image {
          width: 70%;
          height: auto;
        }
      }
    }
  }
}
